<h1>New Course</h1>
<%= form_tag({ controller: 'courses', action: 'create' }, method: 'post') do %>
  <%= hidden_field_tag(:course_uuid, course_uuid) %>

  <div>
    <%= label_tag(:title) %>
    <%= text_field_tag(:title, '', class: 'form-control') %>
  </div>

  </br>

  <%= submit_tag('Create') %>
  <%= link_to 'Back', courses_path %>
<% end %>
