<h1>Deck: <%= deck.title %> </h1>
<ul>
  <% cards.each do |card| %>
    <li><b><%= card.front %></b> - <%= card.back %></li>
  <% end %>
</ul>

<%= link_to('Add new card', new_card_deck_path(deck.deck_uuid)) %>
<%= link_to('Back', course_decks_path(deck.course_uuid)) %>
