<h1>New Deck</h1>
<%= form_tag({ controller: 'decks', action: 'create' }, method: 'post') do %>
  <%= hidden_field_tag(:deck_uuid, deck_uuid) %>

  <div>
    <%= label_tag(:title) %>
    <%= text_field_tag(:title, '', class: 'form-control') %>
  </div>

  </br>

  <%= submit_tag('Create') %>
  <%= link_to 'Back', courses_path %>
<% end %>
